* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0px;
    padding: 0px;
   
}
.nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    /* border: 2px solid; */
}
.nav ul {
    list-style: none;
    margin-left: 60%;
}
.nav a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(rgb(185, 90, 90), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav li {
    display: inline;
    margin-left: 20px;
}
#logo {
    width: 4%;
    position: absolute;
    margin-top: -4.25%;
    margin-left: 1%;
   
}
.first {
    display: flex;
    background-color: rgb(24,90,226);

}
.first-main {
    width: 45%;
    /* border: 2px solid; */

}

.first-image img {
    width: 90%;

}
.first-text {
    width: 55%;
}
.first-text h1 {
  font-size: 40px;
  margin-top: 20%;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 80%;
  text-align:left;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(213, 215, 214));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}
.first-text p {
    color: white;
    width: 80%;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10%;
}
.first-text img {
    width: 40%;
    margin-left: 20%;
}
.first-text a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    border: 1px solid white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.second {
    background-color: whitesmoke;
    text-align: center;
    padding: 30px;
}

.card img {
    width: 100%;
}
.cards {
    display: flex;
   
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  padding: 10px;
  text-align: center;
  background-color: rgb(247, 246, 246);
  border-radius: 20px;
}
.card img {
    border-radius: 20px;
}
.card1 {
    margin-left: 7%;
}
.card2 {
    margin-left: 2%;
}
